extends base 

block head
    title Property Search Results | Dira Bulgarit
    meta(name="robots" content="noindex, nofollow")
    meta(property="og:image" content='/img/hero-burgas.webp')
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    include ../he/_headLinksScripts

block content

    .container-fluid.search-results-main-container
        .row.search-headline-row
            .col.search-headline-col 
                img.search-headline-img(src='/img/sectionCover-1.webp' alt='Image of Burgas, Bulgaria view') 
                div.search-modal-open-btn-container
                    button.search-modal-open-btn(data-bs-toggle="modal" data-bs-target="#searchModal") Property Search
                
        .search-container.w-75 
            include _searchForm  
                    
        include _searchModal           
                    
    if assets.length >= 1
        .container.search-results-filters-container
            .row.search-results-filters-row.align-items-center
                .col-6.search-results-filters-col.text-center.text-sm-start
                    .dropdown
                        button.btn.btn-secondary.dropdown-toggle.search-results-filters-sort--btn.en-search-results-filters-sort--btn(type='button' data-bs-toggle='dropdown' aria-expanded='false' ) Sort By
                        ul.dropdown-menu.search-results-filters-list
                            li
                                a.dropdown-item.search-results-filters(data-sort='price' data-type=1) Price - Low to high
                            li
                                a.dropdown-item.search-results-filters(data-sort='price' data-type=-1) Price - High to Low
                .col-6.search-results-filters-col.text-center.text-sm-end
                    div.search-results-filter-resultsNum-container
                        span.search-results-filter-resultsNum= `${totalAssets} Properties Found`    

    .container-fluid.search-results-container
        .row.mainpage-hot-assets-row.justify-content-center.mx-2
            if assets !== null && assets.length > 0
                each asset in assets    
                    include _assetsCards
        
                if totalPages.length > 1                        
                    .pagination-Container
                        .row.pagination-row.d-flex.justify-content-around.justify-content-md-center
                            if totalPages.length >= 5 && pageNumber <= 3
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')                        
                                .col-8.col-md-6.col-xl-4.pagination-col          
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex
                                            .col.pagination-page-btn-col.p-0
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[1]}`)= totalPages[1] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[2]}`)= totalPages[2] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[3]}`)= totalPages[3] 
                                            .col.pagination-page-btn-col.p-0
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')
                            else if totalPages.length >= 5 && pageNumber >= 4 && pageNumber < totalPages[totalPages.length - 4]
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col           
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber - 2]}`)= totalPages[pageNumber - 2] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber - 1]}`)= totalPages[pageNumber - 1] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber]}`)= totalPages[pageNumber] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`)
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')    
                            else if totalPages.length >= 5 && pageNumber >= totalPages[totalPages.length - 4]  
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col           
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex.align-content-center 
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 5]}`)= totalPages[totalPages.length - 5] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 4]}`)= totalPages[totalPages.length - 4] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 3]}`)= totalPages[totalPages.length - 3] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 2]}`)= totalPages[totalPages.length - 2] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')         
                            else   
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col.d-flex.justify-content-evenly            
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex             
                                            each page in totalPages
                                                .col.pagination-page-btn-col.p-0
                                                    button.pagination-page-btn(data-page=`${page}`)= page 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')                                      
            else if assets === null
                div.no-search-results-found.text-center No properties found, please try again
                div.no-search-results-found-img-container.text-center 
                    img(src="/img/logo-grey.png" alt="Estates logo").no-search-results-found-img
            else
                div.no-search-results-found.text-center No properties found, please try again
                div.no-search-results-found-img-container.text-center  
                    img(src="/img/logo-grey.png" alt="Estates logo").no-search-results-found-img                                  
        
        .row.mobile-mainpage-hot-assets-row.justify-content-center         
            if assets !== null && assets.length > 0
                each asset in assets
                    include _mobileAssetsCards                 
                    
                if totalPages.length > 1                        
                    .pagination-Container
                        .row.pagination-row.d-flex.justify-content-around.justify-content-md-center
                            if totalPages.length >= 5 && pageNumber <= 3
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')                        
                                .col-8.col-md-6.col-xl-4.pagination-col          
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex
                                            .col.pagination-page-btn-col.p-0
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[1]}`)= totalPages[1] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[2]}`)= totalPages[2] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[3]}`)= totalPages[3] 
                                            .col.pagination-page-btn-col.p-0
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')
                            else if totalPages.length >= 5 && pageNumber >= 4 && pageNumber < totalPages[totalPages.length - 4]
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col           
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber - 2]}`)= totalPages[pageNumber - 2] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber - 1]}`)= totalPages[pageNumber - 1] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[pageNumber]}`)= totalPages[pageNumber] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`)
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')    
                            else if totalPages.length >= 5 && pageNumber >= totalPages[totalPages.length - 4]  
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col           
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex.align-content-center 
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[0]}`)= totalPages[0] 
                                            .col.pagination-page-btn-col.p-0     
                                                button.pagination-separator(disabled) ...
                                            .col.pagination-page-btn-col.p-0 
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 5]}`)= totalPages[totalPages.length - 5] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 4]}`)= totalPages[totalPages.length - 4] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 3]}`)= totalPages[totalPages.length - 3] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 2]}`)= totalPages[totalPages.length - 2] 
                                            .col.pagination-page-btn-col.p-0    
                                                button.pagination-page-btn(data-page=`${totalPages[totalPages.length - 1]}`)= totalPages[totalPages.length - 1] 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')         
                            else   
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-prev-page-btn.pagination-icon-btn
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-left.svg#chevron-left')   
                                .col-8.col-md-6.col-xl-4.pagination-col.d-flex.justify-content-evenly            
                                    .pagination-pages-container.text-center
                                        .row.pagination-pages-col-row.d-flex             
                                            each page in totalPages
                                                .col.pagination-page-btn-col.p-0
                                                    button.pagination-page-btn(data-page=`${page}`)= page 
                                .col-1.pagination-col.d-flex.justify-content-center.align-content-center
                                    button.pagination-next-page-btn.pagination-icon-btn(data-lastpage=`${totalPages[totalPages.length - 1]}`) 
                                        svg.bi.pagination-icon
                                            use(xlink:href='/img/icons/chevron-right.svg#chevron-right')                                      
            else if assets === null
                div.no-search-results-found.text-center No properties found, please try again
                div.no-search-results-found-img-container.text-center 
                    img(src="/img/logo-grey.png" alt="Estates logo").no-search-results-found-img
            else
                div.no-search-results-found.text-center No properties found, please try again
                div.no-search-results-found-img-container.text-center  
                    img(src="/img/logo-grey.png" alt="Estates logo").no-search-results-found-img                                  